
#header{
    height: 70px;
    background-color: $primary;
    color: $text-white;
    padding: 2px 2px;
    width: 100%;
    // position: fixed;
    z-index: 1;


    .nav{
        display: flex;

        header{
            flex: 1;
        }

        .menu-icon{
            padding: 5px 10px;
            cursor: pointer;
        }
    }

    .logo-account{
        height: 65px;
        width: 65px;
        position: absolute;
        padding: 5px;        

        img{
            height: 100%;
            position: relative;
            border-radius: 50px;
        }
    }

    
    
}