#sidebar{
    background-color: #F6F7F8;
    height: 100%;
    width: 300px;
    position: fixed;
    top:0;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all .5s ease-in-out;
    z-index: 2;
    
}

@media(min-width: 320px){
    #sidebar{
        width: 250px;
    }
}

@media(min-width: 425px){
    #sidebar{
        width: 300px;
    }
}

@media(min-width: 765px){
    #sidebar{
        width: 350px;

    }
}

.hide-sidebar{
    margin-left: -500px!important;
}

.show-sidebar{
    margin-left: 0!important;
}

