#sidebar{
    background-color: #F6F7F8;
    height: 100%;
    width: 300px;
    position: fixed;
    top:0;
    box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
    transition: all .5s ease-in-out;
    z-index: 2;

    header{
        display: flex;
        flex-direction: row;
        
        div:hover{
            background-color:#e0f2f1; 
        }
        div{
            flex: 1;           
            cursor: pointer;
            border-radius: 3px;


            i{
                align-content: center;
                text-align: center;
                padding: 10px;
            }
        }
    }
    
}

.tab-active{
    background-color: #e0f2f1;
}


@media(min-width: 320px){
    #sidebar{
        width: 250px;
    }
}

@media(min-width: 425px){
    #sidebar{
        width: 300px;
    }
}

@media(min-width: 765px){
    #sidebar{
        width: 350px;

    }
}

.hide-sidebar{
    margin-left: -500px!important;
}

.show-sidebar{
    margin-left: 0!important;
}

.content-sidebar{
    height: 90%;
    width: 100%;    
    overflow: auto;
}

.card-user{
    cursor: pointer;
    margin:10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    // background-color: red;
    padding: 15px;
    border-top: solid 0.5px rgba(184, 182, 182, 0.75);
    margin: 0;

    img{
        border-radius: 50%;
        height: 50px;
    }

    p{
        font-size: 0.5em;
        margin-top:10px;
        margin-left: 5px;


    }
    span{
        color: #E0F2F1;
        background-color: rgba(206, 26, 26, 0.651);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        margin-top: 0;
        float: right;
        font-size: 0.5em;
        text-align: center;
        padding: 1px;
        position: relative;
        margin: -10px -10px;
        opacity: 0;        
        
        &.active{
            opacity: 1;
        }
    }
    &.active{
        background-color:#efe4e4;
    }
}

.card-user:hover{
    background-color:#efe4e4; 
}


