#wrapper{
    display: flex;
    flex-direction: column;

    #main{
        flex:1;
        overflow: auto;
    }
}

.hidden{
    visibility: hidden;
    height: 0;
    width: 0;
}

.avatar{
    border-radius: 50px;
}