<div id="sidebar" class="show-sidebar">
    <header class="header-sidbar">
    <div class="tab tab-active">
        <i class="fa fa-comments"></i>
    </div>
    <div class="tab" id="tab-users">
        <i class="fa fa-users"></i>
    </div>
    </header>
    <div class="content-sidebar">
             
        <div class="card-user">
            <div class="avatar-user">
                <img src="../images/perfil.jpg" alt="">
            </div>
            <div>
                    <p>Weslei ferreira</p>
            </div>
            
        </div>         
            
    </div>

</div>